[submodule "bundle-archive/nerdtree"]
	path = bundle-archive/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle-archive/mru"]
	path = bundle-archive/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle-archive/snipmate"]
	path = bundle-archive/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle-archive/ack"]
	path = bundle-archive/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle-archive/bufexplorer"]
	path = bundle-archive/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "bundle-archive/command-t"]
	path = bundle-archive/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle-archive/fugitive"]
	path = bundle-archive/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle-archive/delimitMate"]
	path = bundle-archive/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle-archive/nerdcommenter"]
	path = bundle-archive/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle-archive/gundo"]
	path = bundle-archive/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle-archive/matchit"]
	path = bundle-archive/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle-archive/doctorjs"]
	path = bundle-archive/doctorjs
	url = https://github.com/mozilla/doctorjs.git
[submodule "bundle-archive/syntastic"]
	path = bundle-archive/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle-archive/supertab"]
	path = bundle-archive/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle-archive/tagbar"]
	path = bundle-archive/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle-archive/taglist-plus"]
	path = bundle-archive/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "bundle-archive/yankRing"]
	path = bundle-archive/yankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle-archive/vim-symfony"]
	path = bundle-archive/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "bundle-archive/pydoc"]
	path = bundle-archive/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle-archive/ctrlp"]
	path = bundle-archive/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle-archive/zen-coding"]
	path = bundle-archive/zen-coding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle-archive/vim-colors-solarized"]
	path = bundle-archive/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle-archive/snipmate-snippets"]
	path = bundle-archive/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle-archive/vim-addon-mw-utils"]
	path = bundle-archive/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle-archive/tlib_vim"]
	path = bundle-archive/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle-archive/vim-snipmate"]
	path = bundle-archive/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle-archive/vim-web-indent"]
	path = bundle-archive/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "bundle-archive/vim-powerline"]
	path = bundle-archive/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle-archive/vimroom"]
	path = bundle-archive/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle-archive/vim-abolish"]
	path = bundle-archive/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle-archive/vim-surround"]
	path = bundle-archive/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle-archive/colorizer"]
	path = bundle-archive/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle-archive/vim-coffee-script"]
	path = bundle-archive/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle-archive/sessionman.vim"]
	path = bundle-archive/sessionman.vim
	url = https://github.com/bpermale/sessionman.vim.git
[submodule "bundle-archive/vim-javascript"]
	path = bundle-archive/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
