extends javascript, javascript-angular, javascript-jsdoc, javascript.es6
snippet log "console.log"
console.log(${1});
endsnippet
snippet $scope "Description" b
$scope.${1:name} = function(${2:args}) {
	$0
};

endsnippet

