snippet "expect(actual)to be >  expected" "expect(actual).to be >  expected" b
	expect(actual).to be >  expected
endsnippet

snippet "expect(actual) to match(/expression/)" "expect(actual).to match(/expression/)" b
	expect(actual).to match(/expression/)
endsnippet
